.text-title{padding: 30px 10px;}
.title{background: #B9ECF7;}
.class1{color: #BF5D54;font-weight: bold;}/*Vermelho*/
.class2{color: #006D36;font-weight: bold;}/*Verde*/
.class3{color: #187EAC;font-weight: bold;}/*Azul*/
.class4{color: #BF5EB9;font-weight: bold;}/*Rosa*/
.class5{color: #F78F20;font-weight: bold;}/*Laranja*/
.class6{color: #0D0D0D;font-weight: bold;}/*Preto*/